<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stylesHome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Ribeye+Marrow&family=Updock&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet"/>
    <script src="/js/script.js"></script>


</head>
<body>

<!-- NavBar -->
<nav class="nav-bar">
    
    <div class="div-container-1">
        <img class="logo" src="https://th.bing.com/th/id/R.6dbe3d2bab028f70e8d087bc0d30cc1b?rik=m1n24Avn2STqlA&riu=http%3a%2f%2ffioricolima.com.mx%2fwp-content%2fuploads%2f2018%2f07%2fLogo-Fiori-Header-WebPage-A-1.png&ehk=HA1tVB2afTyneojjBA2KWp8di2u61CbXWQOYWpmVqzM%3d&risl=&pid=ImgRaw&r=0">
        <a class="nav-bar-a 1" href="#init">Inicio</a>
        <a class="nav-bar-a 2" href="#flowers">Flores</a>
        <a class="nav-bar-a 3" href="#about-us">Sobre nosotros</a>
    </div>
</nav>
<section class="init" id="init">
    <div class="init-style" id="init-style">
        
        <h1 class="title-init">JARDIN DE COLORES</h1>
        <img class="img-init-flower" src="https://static.vecteezy.com/system/resources/previews/023/397/321/non_2x/flower-bouquet-watercolor-clipart-ai-generated-free-png.png">
        <h3 class="slogan-init">Flores que inspiran, colores que encantan</h3>
        
    </div>
</section>

<section class="flowers" id="flowers">
    <div class="div-title-flowers">
        <h1 class="title-flowers">GALERIA DE FLORES</h1>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                    <img src="https://www.florespedia.com/Imagenes/flores-hermosas-del-cerezo.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h5 class="card-title">Flores del Cerezo</h5>
                        <p class="card-text">Las flores del cerezo, o Sakura, son un símbolo de la cultura japonesa, floreciendo en primavera y cubriendo los cerezos con tonos rosados. Durante el resto del año, los cerezos tienen hojas o están desnudos en invierno.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img src="https://www.florespedia.com/Imagenes/lista-de-flores-bonitas-hortensias.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h5 class="card-title">Hortensias</h5>
                        <p class="card-text">La hortensia es una planta ornamental originaria de Asia y América, con variedades que van desde arbustos hasta pequeños árboles y lianas. Sus hojas pueden ser caducas o perennes, siendo las caducas las más comunes en cultivo.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img src="https://www.florespedia.com/Imagenes/flores-bonitas-lirios.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h5 class="card-title">Lirios</h5>
                        <p class="card-text">El lirio es una planta de la familia de las liliáceas que crece en Europa, Japón, el sur de la India, Filipinas, EE.UU. y Canadá. Se encuentra en tonos blancos, naranjas y rojos, y tiene un olor característico.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img src="https://www.florespedia.com/Imagenes/nombre-de-flores-lantanas.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h5 class="card-title">Lantanas</h5>
                        <p class="card-text">La lantana es una flor originaria de América del Norte y del Sur, y de algunas zonas de Europa. Tiene muchas variedades de distintos tamaños y colores, con hojas ásperas y generalmente esféricas.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img src="https://www.florespedia.com/Imagenes/lista-de-flores-de-loto.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h5 class="card-title">Flores de Loto</h5>
                        <p class="card-text">La flor de loto es una planta acuática con hojas flotantes de hasta 100 cm de diámetro y flores de hasta 23 cm. Se encuentra en Rusia, Azerbaiyán, Siberia, China, India, Japón y otros lugares, en tonos blancos, rosas fuertes y pálidos.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <button id="button-carousel-prev" class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
            <img class="carousel-control-prev-icon" aria-hidden="true" src="/arrow-left.png" />
        </button>
        <button id="button-carousel-next" class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
            <img class="carousel-control-next-icon" aria-hidden="true" src="/arrow-right.png" />
        </button>
        
        
    </div>
</section>


<section class="about-us" id="about-us">
    <div class="left-side">
        <img class="img-about-us" src="https://media.traveler.es/photos/613766f0ba2a75fcba4be549/16:9/w_2560%2Cc_limit/166041.jpg" alt="Floristeria1">
        <img class="img-about-us" src="https://th.bing.com/th/id/R.1ab1f104d2cd8d32b943fbc25342770f?rik=oVcsxEfYEdXOMQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-RLicOI75le8%2fUv_dzR9vqLI%2fAAAAAAAADGQ%2fHgfe8ZZbcIQ%2fs1600%2fFlorister%c3%ada.jpg&ehk=GDHXoY2RAuU9Z8wgGP06r8M0NE21FD3EmVEW3XXh9Wo%3d&risl=&pid=ImgRaw&r=0" alt="Floristeria2">
        <img class="img-about-us" src="https://muchosnegociosrentables.com/wp-content/uploads/2020/08/como-montar-un-negocio-de-floristeria.jpg" alt="floristeria3">
        <img class="img-about-us" src="https://community.thriveglobal.com/wp-content/uploads/2020/03/shutterstock_1658471137.jpg" alt="Floristeria4">
        <img class="img-about-us" src="https://www.leforem.be/content/leforem/fr/jeunes/besoin-outils-recherche/_jcr_content/root/pagebodycontainer/maincontainer/art_resp_simple/containerv2/containerv2/containerv2/list.coreimg.jpeg/content/leforem/fr/particuliers/chercher-un-emploi/elargir-ma-recherche-emploi/creer-mon-emploi/jcr:content/cq:featuredimage/1698388063715/flyer-adobestock-153904613.jpeg" alt="Floristeria5">
    </div>
    <div class="right-side">
        <h1 class="title-about-us"> ¿QUIENES SOMOS?</h1>
        <p class="content-right">"Jardín de Colores" es tu destino para arreglos florales únicos y memorables. Cada flor es seleccionada con cuidado para garantizar su frescura y calidad. Nuestros expertos floristas crean diseños inspiradores para cualquier ocasión, desde bodas hasta aniversarios. Con una amplia variedad de flores exóticas y clásicas, transformamos cada momento en algo especial. Visítanos y descubre cómo nuestras flores pueden añadir magia a tu vida.</p>
    </div>
</section>

<footer class="footer">
    <p>&copy; 2024 Jardín de Colores. Todos los derechos reservados.</p>

</footer>

<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
</body>
</html>